<mat-card class="user-detail-header">

        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="pin-right-upper-corner">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">edit</button>
    </mat-menu>

    <img class="profile-picture" src="/assets/img/profile-picture.png" alt="">
    <div class="user-details">
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <div>
            {{ user.email }}
        </div>
    </div>

</mat-card>

<mat-card class="mt-32">

    <!-- <mat-icon>more_vert</mat-icon> -->

    <button mat-icon-button [matMenuTriggerFor]="addressMenu" class="pin-right-upper-corner">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editMenu()">edit</button>
    </mat-menu>

    <mat-card-title class="pl-16">Address</mat-card-title>
    <mat-card-content>
        {{ user.street }} <br>
        {{ user.city }}
    </mat-card-content>
</mat-card>